<section id="player" class="player">
  <audio src="/assets/intermission.mp3"></audio>
  <button class="player__controls">
    <span class="player__info1">A Work in Progress (Radio) Show</span>
    <span class="player__info2">Central Saint Martins MA Graphic Communication Design</span>
  </button>
</section>
