<section id="player" class="player">
  <audio src="/assets/intermission.mp3"></audio>
  <button class="player__controls">
    <span class="player__intermission-text"><span>I</span><span>n</span><span>t</span><span>e</span><span>r</span><span>m</span><span>i</span><span>s</span><span>s</span><span>i</span><span>o</span><span>n</span></span>
  </button>
  <span class="player__info1">A Work in Progress (Radio) Show</span>
  <span class="player__info2">Central Saint Martins MA Graphic Communication Design</span>
</section>
